<div class="container">
    <h1 class="display-4 fonth"><b>Hello, All!</b></h1>
    <br>
    <div class="row" >
        
        <div class="col-md-4 well font">
            More than 3 out of 5 Indian owns a pet and 91% consider 
            their pet to be a member of their family.
            
        </div>
        <div class="col-md-4 well font">
            There are many health benefits of owning a pet.
             They can increase opportunities to exercise, get outside, and socialize.
        </div>
        <div class="col-md-4 well font">
            <h3>Contact Us..</h3>
            <ul>
                <li>Phone   : +45 ..</li>
                <li>Mobile  : +91 9344881930</li>
    
            </ul>
        </div>
    </div>
  
</div>