input[type="file"]{
    display: none;
  }


 label:hover{
    cursor: pointer;
    
  }








  h2{
    text-align: center;
  }
  .example-form {
    
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .image{
    width: 180px;
  }

  @media screen and (max-width:500px){
    .image{
      width: 150px;
    }
    .but{
      font-size: 12px;
      width: 20px;
      height: 28px;
      text-align: justify;
      padding-bottom: 15px;
      
    }
  }